#hud {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 200px;
  height: 25px;
}

#lifeBar {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(29, 1, 1);
  background: rgba(0,0,0,0.5);
}

#lifeFill {
  width: 100%;
  height: 100%;
  background: rgb(97, 180, 125);
  transition: width 0.3s;
}
